{% extends 'template.html' %}

{%block title%}
'Registration | Sneaker Central MTL'
{%endblock%}

{%block content%}

<body class ="text-center">

    <div class = "container">
        <form method = "POST" class = "form-register" style  = "color: white">
            {{form.hidden_tag()}}
            <br>
            <img class="mb-4" src="https://images-platform.99static.com//zvgtch1g-AfvYKsLleHclChDLYE=/222x209:1707x1694/fit-in/500x500/projects-files/101/10165/1016553/09deac31-4bdc-4bb6-b6f2-e644b4ff0500.png" alt="", style= "width:300px; height:300px; ">
            
            <h1 class = "h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            
            {{form.username.label()}}
            {{form.username(class = "form-control", placeholder = "User Name")}}
            
            {{form.email_address.label()}}
            {{form.email_address(class = "form-control", placeholder = "Email Address")}}

            {{form.password.label()}}
            {{form.password(class = "form-control", placeholder = "Password")}}

            {{form.confirm_password.label()}}
            {{form.confirm_password(class = "form-control", placeholder = "Confirm Password")}}

            <br>

            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login') }}">Sign Up</a>
             </div>

            {{form.register(class = "btn btn-lg btn-block btn-primary")}}

            
        </form>
    </div>


</body>
    

{%endblock%}
